/*  font-family: 'Source Sans Pro', sans-serif;  */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source San Pro', sans-serif;
    font-size: 1rem; /* doesn't matter if we don't write this line */
    color: #404040;
    text-align: center;
}


/* ==============
Typography
============== */

h1 {
    color: #FFF;
    font-size: 2.25rem;
    font-weight: 300;
    margin: 0;
}

h1 + p {
    color: #F18119;
    font-weight: 900;
    font-size: 1.3125rem;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
}

h2 + p {    /* this selector only selects the paragraph right after h2 */
    color: #F18119;
    font-weight: 900;
    margin-top: 0.5em;
    text-transform: uppercase;
}

.top-text {
    color: #F18119;
    font-size: 0.625rem;
    margin: 0;
    padding-top: 2px;
    font-weight: 900;
    text-transform: uppercase;
    order: -1;
    border-top: 3px solid #F18119;
    border-image: linear-gradient(to left, #FF713B, #FFA51D) 1;
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

strong { font-weight: 900; }


/* ==============
intro section
============== */

.intro {
    background-color: #404040;
    background-image: url(/images/dark-ribs.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 0.25em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}


/* ===================
main-content section
=================== */

.main-content {
    padding: 2em 1em;
}


.intro *,
.main-content * {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}


/* ==========
form
=========== */

.email-collector {
    width: 80%;
    max-width: 300px;
}

input,
.btn {
    width: 100%;
    border-radius: 5px;
}

input{
    font-family: inherit;
    text-align: inherit;
    margin-bottom: 0.75em;
    padding: 0.25em;
    border: 1px solid #404040;
    transform: scale(1);
    transition: transform 250ms;
}

input:focus {
    transform: scale(1.03);
}

.btn {
    display: inline-block;
    padding: 1em 1.5em;
    font-size: 0.625rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    border: 0;
    cursor: pointer;
}

.btn-primary {
    background: linear-gradient(to left, #FF713B, #FFA51D);
    color: #FFF;
    transform: scale(1);
    transition: transform 250ms;
}

.btn-primary:hover,
.btn-primary:focus {
    transform: scale(1.03);   
}


/* ==============
media queries
=============== */

@media (min-width: 500px) {
    body {
        font-size: 1.125rem;
        display: flex;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2,
    h1 + p {
        font-size: 1.75rem;
    }

    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}